comment this portion
<hr>
{{studentRegForm.value | json}}
<hr>
{{studentModel | json}}
<hr>
<div class="container-fluid mb-5">
  <h3 style="text-align: center;">New Student Registration</h3>
  <form #studentRegForm="ngForm" (ngSubmit)="register()">

    <div class="form-row">
      <div class="col-md-6 mb-3">
        <label for="studentState">Domicile</label>
        <select class="custom-select" name="studentState" id="" [(ngModel)]="studentModel.studentStateOfDomicile">
          <option selected value=null>Select Institute State</option>
          <option *ngFor="let studstate of studStates">{{studstate}}</option>
        </select>
      </div>

      <div class="col-md-6 mb-3">
        <label for="studentDistrict">District</label>
        <select class="custom-select" name="studentDistrict" id="" [(ngModel)]="studentModel.studentDistrict">
          <option selected value=null>Select District</option>
          <option *ngFor="let studDistrict of studDistricts">{{studDistrict}}</option>
        </select>
      </div>
    </div>

    <div class="form-group">
      <label for="studName">Student Name</label>
      <input type="text" required #name="ngModel" [class.is-invalid]="name.invalid && name.touched" class="form-control" placeholder="Enter Name"
        name="name" [(ngModel)]="studentModel.studentName">
        <small class="text-danger" [class.d-none]="name.valid || name.untouched">Name is required</small>
        <div></div>
    </div>

    <div class="form-row">
      <div class="col-md-6 mb-3">
        <label for="studDOB">DOB</label>
        <input type="date" name="studDOB" id="" class="form-control" placeholder="Enter Name DOB"
          [(ngModel)]="studentModel.studentDateOfBirth">
      </div>

      <div class="col-md-6 mb-3">
        <label for="studGender">Gender</label>
        <select class="custom-select" name="studGender" id="" [(ngModel)]="studentModel.studentGender">
          <option selected value=null>Select Gender</option>
          <option *ngFor="let studGender of studGenders">{{studGender}}</option>
        </select>
      </div>

      <div class="col-md-6 mb-3">
        <label for="studMobile">Mobile Number</label>
        <input type="text" required #phone="ngModel" pattern="\d{10}$" name="phone" [class.is-invalid]="phone.invalid && phone.touched" class="form-control" placeholder="Enter Mobile Number"
          [(ngModel)]="studentModel.studentMobileNumber">
          <div *ngIf="phone.errors && (phone.valid || phone.touched)">
            <small class="text-danger" *ngIf="phone.errors.required">Phone number is required</small>
            <small class="text-danger" *ngIf="phone.errors.pattern">Phone number must be a 10 digits number</small>
    
          </div>
      </div>

      <div class="col-md-6 mb-3">
        <label for="studEmail">Email</label>
        <input type="text" required #email="ngModel" pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,}$" name="email" [class.is-invalid]="email.invalid && email.touched" class="form-control" placeholder="Enter Email"
          [(ngModel)]="studentModel.studentEmail">
          <div *ngIf="email.errors && (email.valid || email.touched)">
            <small class="text-danger" *ngIf="email.errors.required">Email is required</small>
            <small class="text-danger" *ngIf="email.errors.pattern">Please enter a valid email</small>
    
          </div>
      </div>

      <div class="col-md-6 mb-3">
        <label for="studInstitue">Institute Code</label>
        <input type="text" name="studInstitue" id="" class="form-control" placeholder="Enter Instituet Code"
          [(ngModel)]="institute_id">
      </div> 

      <div class="col-md-6 mb-3">
        <label for="studAadhar">Aadhar Number</label>
        <input type="text" required name="aadhar" #aadhar="ngModel" pattern="\d{12}$" [class.is-invalid]="aadhar.invalid && aadhar.touched" class="form-control" placeholder="Enter Aadhar Number"
          [(ngModel)]="studentModel.studentAadharNumber">
          <div *ngIf="aadhar.errors && (aadhar.valid || aadhar.touched)">
            <small class="text-danger" *ngIf="aadhar.errors.required">Aadhar Number is required</small>
            <small class="text-danger" *ngIf="aadhar.errors.pattern">Please enter a valid Aadhar Number</small>
    
          </div>
      </div>

      <div class="col-md-6 mb-3">
        <label for="studIFSC">Bank IFSC Code</label>
        <input type="text" required #bankifsc="ngModel" [class.is-invalid]="bankifsc.invalid && bankifsc.touched" name="bankifsc" class="form-control" placeholder="Enter Bank IFSC Code"
          [(ngModel)]="studentModel.studentIfcsCode">
          <small class="text-danger" [class.d-none]="bankifsc.valid || bankifsc.untouched">IFSC code is required</small>

      </div>

      <div class="col-md-6 mb-3">
        <label for="studAccNumber">Account Number</label>
        <input type="text" required #accountNumber="ngModel" [class.is-invalid]="accountNumber.invalid && accountNumber.touched" name="accountNumber" id="" class="form-control" placeholder="Enter Account Number"
          [(ngModel)]="studentModel.studentBankAccountNumber">
          <small class="text-danger" [class.d-none]="accountNumber.valid || accountNumber.untouched">Bank Account Number is required</small>

      </div>

    </div>

    <div class="form-group">
      <label for="studBank">Bank Name</label>
      <input type="text" required #bankName="ngModel" [class.is-invalid]="bankName.invalid && bankName.touched" name="bankName" id="" class="form-control" placeholder="Enter Bank Name"
        [(ngModel)]="studentModel.studentBankName">
        <small class="text-danger" [class.d-none]="bankName.valid || bankName.untouched">Bank Name is required</small>

    </div>

    <div class="form-row">
      <div class="col-md-6 mb-3">
        <label for="studentPwd">Set Password: </label>
        <input type="password" name="studentPwd" id="" class="form-control" placeholder="Enter Password"
          [(ngModel)]="studentModel.studentPassword">
      </div>

      <div class="col-md-6 mb-3">
        <label for="studConfPwd">Confirm Password: </label>
        <input type="password" name="studConfPwd" id="" class="form-control" placeholder="Confirm Password">
      </div>
    </div>

    <div class="form-check mb-3">
      <input type="checkbox" class="form-check-input" name="detail_Verify">
      <label class="form-check-label">All Details provided are correct</label>
    </div>

    <div class="mx-auto text-center">
      <button type="submit" class="btn btn-primary" style="margin-left: 5%; margin-right: 5%;">Submit</button>
      <button type="reset" class="btn btn-primary" style="margin-left: 5%; margin-right: 5%;">Reset</button>
    </div>

  </form>
</div>