<!-- <hr>
{{instituteForm.value | json}}
<hr>
{{instituteModel | json}}
<hr> -->

<div class="container-fluid mb-5">
  <h3 style="text-align: center;">New Institute Registration</h3>
  <form #instituteForm="ngForm" (ngSubmit)="register2()" enctype="multipart/form-data">
    <fieldset class="">
      <legend>Basic Details</legend>
      <div class="form-group">
        <div class="form-group">
          <label for="inst_cat">Institute Category</label>
          <select (blur)="validateinstCat(instCat.value)" required (change)="validateinstCat(instCat.value)"
            #instCat="ngModel" [class.is-invalid]="instCat.invalid && instCat.touched" class="custom-select"
            name="inst_cat" [(ngModel)]="instituteModel.instituteCategory">
            <option selected value="">Select Institute Category</option>
            <option *ngFor="let inst_cat of inst_cats">{{inst_cat}}</option>
          </select>
          <small class="text-danger" [class.d-none]="instCat.valid || instCat.untouched">Please select a valid
            Category</small>
        </div>
      </div>

      <div class="form-group">
        <label for="inst_name">Institute Name</label>
        <input type="text" required #name="ngModel" [class.is-invalid]="name.invalid && name.touched" name="inst_name"
          class="form-control" placeholder="Enter Institute Name" [(ngModel)]="instituteModel.instituteName">
        <small class="text-danger" [class.d-none]="name.valid || name.untouched">Name is Required</small>
      </div>

      <div class="form-row">
        <div class="col-md-6 mb-3">
          <label for="inst_state">State</label>
          <select required #instState="ngModel" [class.is-invalid]="instState.invalid && instState.touched"
            (blur)="validateinstState(instState.value)" (change)="validateinstState(instState.value)"
            class="custom-select" name="inst_state" [(ngModel)]="instituteModel.instituteState">
            <option selected value="">Select Institute State</option>
            <option *ngFor="let inst_state of inst_states">{{inst_state}}</option>
          </select>
          <small class="text-danger" [class.d-none]="instState.valid || instState.untouched">Please select a
            State</small>
        </div>

        <div class="col-md-6 mb-3">
          <label for="inst_district">District</label>
          <select required #instDistrict="ngModel" [class.is-invalid]="instDistrict.invalid && instDistrict.touched"
            (blur)="validateinstDistrict(instDistrict.value)" (change)="validateinstDistrict(instDistrict.value)"
            class="custom-select" name="inst_district" [(ngModel)]="instituteModel.instituteDistrict">
            <option selected value="">Select Institute District</option>
            <option *ngFor="let inst_district of inst_districts">{{inst_district}}</option>
          </select>
          <small class="text-danger" [class.d-none]="instDistrict.valid || instDistrict.untouched">Please select a
            District</small>
        </div>
      </div>

      <div class="form-row">
        <div class="col-md-6 mb-3">
          <label for="inst_code">INSTITUTE CODE</label>
          <input type="text" required #instCode="ngModel" [class.is-invalid]="instCode.invalid && instCode.touched"
            name="inst_code" class="form-control" placeholder="Enter Institute Code"
            [(ngModel)]="instituteModel.instituteCode">
          <small class="text-danger" [class.d-none]="instCode.valid || instCode.untouched">Institute Code is
            Required</small>
        </div>

        <!-- <div class="col-md-6 mb-3">
          <label for="inst_dise">DISE CODE</label>
          <input type="text" required #instDise="ngModel" [class.is-invalid]="instDise.invalid && instDise.touched"
            name="inst_dise" class="form-control" placeholder="Enter Institute Name"
            [(ngModel)]="instituteModel.instituteDiseCode">
          <small class="text-danger" [class.d-none]="instDise.valid || instDise.untouched">Institute DISE Code is
            Required</small>
        </div> -->
      </div>

      <div class="mb-3">
        <label>Location: </label>
        <div class="form-check">
          <input class="form-check-input" type="radio" name="inst_location" value="Urban"
            [(ngModel)]="instituteModel.instituteLocation">
          <label class="form-check-label" for="inst_location">Urban</label>
        </div>
        <div class="form-check">
          <input class="form-check-input" type="radio" name="inst_location" value="Rural"
            [(ngModel)]="instituteModel.instituteLocation">
          <label class="form-check-label" for="inst_location">Rural</label>
        </div>
      </div>

      <div class="form-group">
        <div class="form-group">
          <label for="inst_type">Institute Type</label>
          <select class="custom-select" required #instType="ngModel"
            [class.is-invalid]="instType.invalid && instType.touched" (blur)="validateinstType(instType.value)"
            (change)="validateinstType(instType.value)" name="inst_type" [(ngModel)]="instituteModel.instituteType">
            <option selected value="">Select Institute Type</option>
            <option *ngFor="let inst_type of inst_types">{{inst_type}}</option>
          </select>
          <small class="text-danger" [class.d-none]="instType.valid || instType.untouched">Please select Institute
            Type</small>
        </div>
      </div>

      <div class="form-group">
        <div class="form-group">
          <label for="inst_affUniState">Affiliated University State</label>
          <select required #instaffUniState="ngModel"
            [class.is-invalid]="instaffUniState.invalid && instaffUniState.touched"
            (blur)="validateinstaffUniState(instaffUniState.value)"
            (change)="validateinstaffUniState(instaffUniState.value)" class="custom-select" name="inst_affUniState"
            [(ngModel)]="instituteModel.instituteUniversityState">
            <option selected value="">Select affilicated university state</option>
            <option *ngFor="let inst_state of inst_states">{{inst_state}}</option>
          </select>
          <small class="text-danger" [class.d-none]="instaffUniState.valid || instaffUniState.untouched">Please
            select Affiliation State</small>
        </div>
      </div>

      <div class="form-group">
        <label for="inst_affUni">Affiliated Univeristy/Board Name: </label>
        <input type="text" required #instBoard="ngModel" [class.is-invalid]="instBoard.invalid && instBoard.touched"
          name="inst_affUni" class="form-control" placeholder="Enter Institute Board"
          [(ngModel)]="instituteModel.instituteUniversityName">
        <small class="text-danger" [class.d-none]="instBoard.valid || instBoard.untouched">Institute Board is
          Required</small>
      </div>

      <div class="form-group">
        <div class="form-group">
          <label for="inst_admitYear">YEAR FROM WHICH ADMISSION STARTED</label>
          <select required #instadmitYear="ngModel" [class.is-invalid]="instadmitYear.invalid && instadmitYear.touched"
            (blur)="validateinstadmitYear(instadmitYear.value)" (change)="validateinstadmitYear(instadmitYear.value)"
            class="custom-select" name="inst_admitYear" [(ngModel)]="instituteModel.instituteAdmissionYear">
            <option selected value="">Select admission year</option>
            <option *ngFor="let inst_year of inst_years">{{inst_year}}</option>
          </select>
          <small class="text-danger" [class.d-none]="instadmitYear.valid || instadmitYear.untouched">Please
            select a year</small>
        </div>
      </div>

      <div class="form-row">
        <div class="col-md-6 mb-3">
          <label for="inst_pwd">Set Password: </label>
          <input type="password" pattern=".{8,}" required #instPass1="ngModel"
            [class.is-invalid]="instPass1.invalid && instPass1.touched" name="inst_pwd" class="form-control"
            placeholder="Enter Password" [(ngModel)]="instituteModel.institutePassword">
          <small class="text-danger" [class.d-none]="instPass1.valid || instPass1.untouched">Please enter strong
            password</small>
        </div>

        <div class="col-md-6 mb-3">
          <label for="inst_confpwd">Confirm Password: </label>
          <input type="password" required #instPass2="ngModel"
            (blur)="instConfirmPassword(instPass1.value, instPass2.value)"
            (change)="instConfirmPassword(instPass1.value, instPass2.value)"
            [class.is-invalid]="!instPasswordNotMatch && instPass2.touched" name="inst_confpwd" class="form-control"
            placeholder="Confirm Password" ngModel>
          <small class="text-danger" [class.d-none]="instPasswordNotMatch || instPass2.untouched">Please confirm
            Password</small>
        </div>
      </div>
    </fieldset>
    <br>
    <br>
    <fieldset class="">
      <div>
        <legend>Address</legend>
        <div class="form-row">
          <div class="col-md-6 mb-3">
            <label for="inst_addressl1">Line 1: </label>
            <input type="text" required #instAddress="ngModel"
              [class.is-invalid]="instAddress.invalid && instAddress.touched" name="inst_addressl1" class="form-control"
              placeholder="Enter Institute Name" [(ngModel)]="instituteModel.instituteAddress">
            <small class="text-danger" [class.d-none]="instAddress.valid || instAddress.untouched">Institute Address is
              Required</small>
          </div>

          <!-- <div class="col-md-6 mb-3">
            <label for="inst_addressl2">Line 2: </label>
            <input type="text" name="inst_addressl2" class="form-control" placeholder="Enter Institute Name"
              [(ngModel)]="instituteModel.institueAddress">
          </div>
        </div>

         <div class="form-row">
          <div class="col-md-6 mb-3">
            <label for="inst_city">City: </label>
            <input type="text" name="inst_city" class="form-control" placeholder="Enter Institute Name"
              [(ngModel)]="nstituteModel.institueAddress">
          </div>  -->

          <div class="col-md-6 mb-3">
            <label for="inst_addressState">State</label>
            <select class="custom-select" disabled required #instState="ngModel"
              [class.is-invalid]="instState.invalid && instState.touched" (blur)="validateinstState(instState.value)"
              (change)="validateinstState(instState.value)" name="inst_addressState"
              [(ngModel)]="instituteModel.instituteState">
              <option selected value=null>Select Institute State</option>
              <option *ngFor="let inst_state of inst_states">{{inst_state}}</option>
            </select>
            <small class="text-danger" [class.d-none]="!instStateInvalid || instState.untouched">Please choose a
              State</small>
          </div>
        </div>

        <div class="form-row">
          <div class="col-md-6 mb-3">
            <label for="inst_addressDistrict">District</label>
            <select class="custom-select" disabled required #instDistrict="ngModel"
              [class.is-invalid]="instDistrict.invalid && instDistrict.touched"
              (blur)="validateinstDistrict(instDistrict.value)" (change)="validateinstDistrict(instDistrict.value)"
              name="inst_addressDistrict" [(ngModel)]="instituteModel.instituteDistrict">
              <option selected value=null>Select Institute District</option>
              <option *ngFor="let inst_district of inst_districts">{{inst_district}}</option>
            </select>
            <small class="text-danger" [class.d-none]="!instDistrictInvalid || instDistrict.untouched">Please choose a
              District</small>
          </div>

          <!-- <div class="col-md-6 mb-3">
            <label for="inst_pincode">PIN CODE: </label>
            <input type="text" name="inst_pincode" class="form-control" placeholder="Enter Institute Name"
              [(ngModel)]="instituteModel.institue_Address_pincode">
          </div> -->
        </div>
      </div>
    </fieldset>
    <br>
    <br>
    <fieldset class="">
      <legend>Contact Details</legend>
      <div class="form-group">
        <label for="inst_principal">Principal Name: </label>
        <input type="text" required #instPrincipal="ngModel"
          [class.is-invalid]="instPrincipal.invalid && instPrincipal.touched" name="inst_principal" class="form-control"
          placeholder="Enter Institute Name" [(ngModel)]="instituteModel.institutePrincipalNmae">
        <small class="text-danger" [class.d-none]="instPrincipal.valid || instPrincipal.untouched">Principal Name is
          Required</small>
      </div>

      <div class="form-row">

        <div class="col-md-6 mb-3">
          <label for="inst_mobile">Mobile Number: </label>
          <input type="tel" required #mobileNumber="ngModel" pattern="^\d{10}$"
            [class.is-invalid]="mobileNumber.invalid && mobileNumber.touched" name="inst_mobile" class="form-control"
            placeholder="Enter Institute Name" [(ngModel)]="instituteModel.institutePhoneNumber">
          <div *ngIf="mobileNumber.errors && mobileNumber.touched">
            <small class="text-danger" *ngIf="mobileNumber.errors.required">Mobile Number is required</small>
            <small class="text-danger" *ngIf="mobileNumber.errors.pattern">Mobile Number must be a 10 digits
              number</small>

          </div>
        </div>

        <div class="col-md-6 mb-3">
          <label for="inst_Email">Email: </label>
          <input type="text" required #instEmail="ngModel" pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,}$"
            [class.is-invalid]="instEmail.invalid && instEmail.touched" name="inst_Email" class="form-control"
            placeholder="Enter Institute Name" [(ngModel)]="instituteModel.instituteEmail">
          <div *ngIf="instEmail.errors && instEmail.touched">
            <small class="text-danger" *ngIf="instEmail.errors.required">Email is required</small>
            <small class="text-danger" *ngIf="instEmail.errors.pattern">Please enter a valid email</small>

          </div>
        </div>
      </div>

      <!-- <div class="form-check mb-3">
        <input type="checkbox" class="form-check-input" name="detail_Verify"
          [(ngModel)]="instituteModel.instituteStatus">
        <label class="form-check-label">All Details provided are correct</label>
      </div> -->
    </fieldset>

    <!-- {{instituteForm.form.valid}} -->
    <fieldset>
      <legend>Document Upload</legend>

      <div class="form-row">
        <div class="col-md-6 mb-3">
          <label for="registrationCertificate">Registration Certificate</label>
          <input type="file" name="registrationCertificate" required #regCerti
            [class.is-invalid]="regCerti.invalid && regCerti.touched" class="form-control-file"
            (change)="onFileChange1($event)">
          <small class="text-danger" [class.d-none]="udoc1 || regCerti.untouched">Documnet is Required</small>
        </div>

        <div class="col-md-6 mb-3">
          <label for="affiliationCertificate">Affiliation Certificate</label>
          <input type="file" name="affiliationCertificate" required #affCerti
            [class.is-invalid]="affCerti.invalid && affCerti.touched" class="form-control-file"
            (change)="onFileChange2($event)" placeholder="Student Photograph">
          <small class="text-danger" [class.d-none]="udoc2 || affCerti.untouched">Documnet is Required</small>
        </div>

      </div>
    </fieldset>

    <div class="mx-auto text-center">
      <button type="submit" [disabled]="!instituteForm.form.valid || instCatInvalid || !udoc1 || !udoc2"
        class="btn btn-primary" style="margin-left: 5%; margin-right: 5%;">Submit</button>
      <button type="reset" class="btn btn-primary" style="margin-left: 5%; margin-right: 5%;">Reset</button>
    </div>

    <!-- <div class="mx-auto text-center">
      <button type="submit" class="btn btn-primary" style="margin-left: 5%; margin-right: 5%;">submit</button>
      <button type="reset" class="btn btn-primary" style="margin-left: 5%; margin-right: 5%;">Reset</button>
    </div> -->
  </form>
</div>