<div class="main">
    <div class="panel panel-info">
        <div class="panel-heading">
            <h3 class="panel-title">
                {{formModel.aadharNumber}}
            </h3>
        </div>
        <div class="panel-body">
            <div class="row">
                <div class=" col-md-9 col-lg-9 ">
                    <table class="table table-user-information">
                        <tbody>
                            <tr>
                                <th>Form Id:</th>
                                <td> {{formModel.formId}} </td>
                            </tr>
                            <tr>
                                <th>Religion:</th>
                                <td> {{formModel.religion}} </td>
                            </tr>
                            <tr>
                                <th>Category:</th>
                                <td> {{formModel.category}} </td>
                            </tr>
                            <tr>
                                <th>Father's Name:</th>
                                <td> {{formModel.fatherName}} </td>
                            </tr>
                            <tr>
                                <th>Mother's Name:</th>
                                <td> {{formModel.motherName}} </td>
                            </tr>
                            <tr>
                                <th>Family Annual Income:</th>
                                <td> {{formModel.familyAnnualIncome}} </td>
                            </tr>
                            <tr>
                                <th>Scheme Id:</th>
                                <td> {{formModel.schemeUid}} </td>
                            </tr>
                            <tr>
                                <th>Roll No. of Class 10th:</th>
                                <td> {{formModel.class10RollNumber}} </td>
                            </tr>
                            <tr>
                                <th>Board Name of Class 10th:</th>
                                <td> {{formModel.class10BoardName}} </td>
                            </tr>
                            <tr>
                                <th>Passing Year of Class 10th:</th>
                                <td> {{formModel.class10PassingYear}} </td>
                            </tr>
                            <tr>
                                <th>Percentage of Class 10th:</th>
                                <td> {{formModel.class10Percentage}} </td>
                            </tr>
                            <tr>
                                <th>Roll No. of Class 12th:</th>
                                <td> {{formModel.class12RollNumber}} </td>
                            </tr>
                            <tr>
                                <th>Board Name of Class 12th:</th>
                                <td> {{formModel.class12BoardName}} </td>
                            </tr>
                            <tr>
                                <th>Passing Year of Class 12th:</th>
                                <td> {{formModel.class12PassingYear}} </td>
                            </tr>
                            <tr>
                                <th>Percentage of Class 12th:</th>
                                <td> {{formModel.class12Percentage}} </td>
                            </tr>
                            <tr>
                                <th>Admission Fees:</th>
                                <td> {{formModel.admissionFee}} </td>
                            </tr>
                            <tr>
                                <th>Other Fees:</th>
                                <td> {{formModel.otherFee}} </td>
                            </tr>
                            <tr>
                                <th>Disablity Status</th>
                                <td> {{formModel.isDisabled}} </td>
                            </tr>
                            <tr>
                                <th>Marital Status:</th>
                                <td> {{formModel.maritalStatus}} </td>
                            </tr>
                            <tr>
                                <th>Parent's Profession:</th>
                                <td> {{formModel.parentProfession}} </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
    <div class="row text-center text-lg-left">

        <div class="col-lg-3 col-md-4 col-6">
            <a href="http://localhost:8080/downloads/{{formModel.domicileCertificate}}" target="_blank" class="d-block btn mb-4 btn-info" style="padding: 1%;">
                <!-- <img src="http://localhost:8080/downloads/{{formModel.domicileCertificate}}" height="100px" width="100px"> -->
                Domicile Certificate
            </a>
        </div>
        <div class="col-lg-3 col-md-4 col-6">
            <a target="_blank" href="http://localhost:8080/downloads/{{formModel.instituteIdCard}}" class="d-block btn mb-4 btn-info" style="padding: 1%;">
                <!-- <img src="http://localhost:8080/downloads/{{formModel.instituteIdCard}}" height="100px" width="100px"> -->
                Institute ID Card
            </a>
        </div>
        <div class="col-lg-3 col-md-4 col-6">
            <a target="_blank" href="http://localhost:8080/downloads/{{formModel.studentPic}}" class="d-block btn mb-4 btn-info" style="padding: 1%;">
                <!-- <img src="http://localhost:8080/downloads/{{formModel.studentPic}}" height="100px" width="100px"> -->
                Student Picture
            </a>
        </div>
        <div class="col-lg-3 col-md-4 col-6">
            <a target="_blank" href="http://localhost:8080/downloads/{{formModel.prevYearMarksheet}}" class="d-block btn mb-4 btn-info" style="padding: 1%;">
                <!-- <img src="http://localhost:8080/downloads/{{formModel.prevYearMarksheet}}" height="100px" width="100px"> -->
                Previous Year Marksheet
            </a>
        </div>
        <br>
        <br>
        <div class="col-lg-3 col-md-4 col-6">
            <a target="_blank" href="http://localhost:8080/downloads/{{formModel.casteIncomeCertificate}}" class="d-block btn mb-4 btn-info" style="padding: 1%;">
                <!-- <img src="http://localhost:8080/downloads/{{formModel.casteIncomeCertificate}}" height="100px" width="100px"> -->
                Caste Income Certificate
            </a>
        </div>
        <div class="col-lg-3 col-md-4 col-6">
            <a target="_blank" href="http://localhost:8080/downloads/{{formModel.feeReceiptOfCurrentYear}}" class="d-block btn mb-4 btn-info" style="padding: 1%;">
                <!-- <img src="http://localhost:8080/downloads/{{formModel.feeReceiptOfCurrentYear}}" height="100px" width="100px"> -->
                Fee Receipt Of Current Year
            </a>
        </div>
        <div class="col-lg-3 col-md-4 col-6">
            <a target="_blank" href="http://localhost:8080/downloads/{{formModel.bankPassbook}}" class="d-block btn mb-4 btn-info" style="padding: 1%;">
                <!-- <img src="http://localhost:8080/downloads/{{formModel.bankPassbook}}" height="100px" width="100px"> -->
                Bank Passbook
            </a>
        </div>
        <div class="col-lg-3 col-md-4 col-6">
            <a target="_blank" href="http://localhost:8080/downloads/{{formModel.aadharCard}}" class="d-block btn mb-4 btn-info" style="padding: 1%;">
                <!-- <img src="http://localhost:8080/downloads/{{formModel.aadharCard}}" height="100px" width="100px"> -->
                AadharCard
            </a>
        </div>
        <br>
        <br>
        <div class="col-lg-3 col-md-4 col-6">
            <a target="_blank" href="http://localhost:8080/downloads/{{formModel.class10Marksheet}}" class="d-block btn mb-4 btn-info" style="padding: 1%;">
                <!-- <img src="http://localhost:8080/downloads/{{formModel.class10Marksheet}}" height="100px" width="100px"> -->
                Class 10<sup>th</sup> Marksheet
            </a>
        </div>
        <div class="col-lg-3 col-md-4 col-6">
            <a target="_blank" href="http://localhost:8080/downloads/{{formModel.class12Marksheet}}" class="d-block btn mb-4 btn-info" style="padding: 1%;">
                <!-- <img src="http://localhost:8080/downloads/{{formModel.class12Marksheet}}" height="100px" width="100px"> -->
                Class 12<sup>th</sup> Marksheet
            </a>
        </div>
    </div>
    <div class="mx-auto text-center">
        <button (click)="approveForm()" type="button" class="btn btn-success"
            style="margin-left: 5%; margin-right: 5%;">Approve</button>
        <button (click)="rejectForm()" type="button" class="btn btn-danger"
            style="margin-left: 5%; margin-right: 5%;">Reject</button>
    </div>
</div>