<p>institute-form-verify works!</p>

<h3>Form Details = {{formId}}</h3>


<h5>
    {{formModel | json}}
</h5>

<img src="http://localhost:8080/downloads/{{formModel.domicileCertificate}}">
<img src="http://localhost:8080/downloads/{{formModel.instituteIdCard}}">
<img src="http://localhost:8080/downloads/{{formModel.domicileCertificate}}">
<img src="http://localhost:8080/downloads/{{formModel.domicileCertificate}}">

<button (click)="approveForm()" >Approve</button>
<button (click)="rejectForm()" >Reject</button>
