<!-- {{ instituteModel | json }} -->
<div class="main">
    <div class="panel panel-info">
        <div class="panel-heading">
            <h3 class="panel-title">
                {{instituteModel.instituteName}}
            </h3>
        </div>
        <div class="panel-body">
            <div class="row">
                <div class=" col-md-9 col-lg-9 ">
                    <table class="table table-user-information">
                        <tbody>
                            <tr>
                                <th>Aadhar Number</th>
                                <td> {{instituteModel.instituteId}} </td>
                            </tr>
                            <tr>
                                <th>Gender</th>
                                <td> {{instituteModel.instituteCode}} </td>
                            </tr>
                            <tr>
                                <th>Date of Birth</th>
                                <td> {{instituteModel.instituteCategory}} </td>
                            </tr>
                            <tr>
                                <th>Contact Number</th>
                                <td> {{instituteModel.instituteState}} </td>
                            </tr>
                            <tr>
                                <th>Email</th>
                                <td> {{instituteModel.instituteDistrict}} </td>
                            </tr>
                            <tr>
                                <th>Domicile</th>
                                <td> {{instituteModel.instituteLocation}} </td>
                            </tr>
                            <tr>
                                <th>District</th>
                                <td> {{instituteModel.instituteType}} </td>
                            </tr>
                            <tr>
                                <th>Bank Name</th>
                                <td> {{instituteModel.instituteUniversityState}} </td>
                            </tr>
                            <tr>
                                <th>Account Number</th>
                                <td> {{instituteModel.instituteUniversityName}} </td>
                            </tr>
                            <tr>
                                <th>Bank IFCS Code</th>
                                <td> {{instituteModel.instituteAdmissionYear}} </td>
                            </tr>
                            <tr>
                                <th>Institute Approval Status</th>
                                <td> {{instituteModel.instituteAddress}} </td>
                            </tr>
                            <tr>
                                <th>Institute Approval Status</th>
                                <td> {{instituteModel.institutePrincipalNmae}} </td>
                            </tr>
                            <tr>
                                <th>Institute Approval Status</th>
                                <td> {{instituteModel.institutePhoneNumber}} </td>
                            </tr>
                            <tr>
                                <th>Institute Approval Status</th>
                                <td> {{instituteModel.instituteEmail}} </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>