<!-- {{ instituteModel | json }} -->
<div class="main">
    <div class="panel panel-info">
        <div class="panel-heading">
            <h3 class="panel-title">
                {{instituteModel.instituteName}}
            </h3>
        </div>
        <div class="panel-body">
            <div class="row">
                <div class=" col-md-9 col-lg-9 ">
                    <table class="table table-user-information">
                        <tbody>
                            <tr>
                                <th>Institute ID</th>
                                <td> {{instituteModel.instituteId}} </td>
                            </tr>
                            <tr>
                                <th>Institute Code</th>
                                <td> {{instituteModel.instituteCode}} </td>
                            </tr>
                            <tr>
                                <th>Institute Category</th>
                                <td> {{instituteModel.instituteCategory}} </td>
                            </tr>
                            <tr>
                                <th>Institute State</th>
                                <td> {{instituteModel.instituteState}} </td>
                            </tr>
                            <tr>
                                <th>Institute District</th>
                                <td> {{instituteModel.instituteDistrict}} </td>
                            </tr>
                            <tr>
                                <th>Location</th>
                                <td> {{instituteModel.instituteLocation}} </td>
                            </tr>
                            <tr>
                                <th>Institute Type</th>
                                <td> {{instituteModel.instituteType}} </td>
                            </tr>
                            <tr>
                                <th>Affiliation University State</th>
                                <td> {{instituteModel.instituteUniversityState}} </td>
                            </tr>
                            <tr>
                                <th>Affiliation University Name </th>
                                <td> {{instituteModel.instituteUniversityName}} </td>
                            </tr>
                            <tr>
                                <th>Admission Year</th>
                                <td> {{instituteModel.instituteAdmissionYear}} </td>
                            </tr>
                            <tr>
                                <th>Institute Address</th>
                                <td> {{instituteModel.instituteAddress}} </td>
                            </tr>
                            <tr>
                                <th>Principal Name</th>
                                <td> {{instituteModel.institutePrincipalNmae}} </td>
                            </tr>
                            <tr>
                                <th>Phone Number</th>
                                <td> {{instituteModel.institutePhoneNumber}} </td>
                            </tr>
                            <tr>
                                <th>Email</th>
                                <td> {{instituteModel.instituteEmail}} </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>