<table class="table table-hover">
    <thead>
      <tr>
        <th scope="col">Student Aadhar Number</th>
        <th scope="col">Student Name</th>
        <th scope="col">Student Gender</th>
        <th scope="col">Student Date of Birth</th>
        <th scope="col">Action</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let unaprrovedStudent of unaprrovedStudents">
        <th scope="row">{{unaprrovedStudent.studentAadharNumber}}</th>
        <td>{{unaprrovedStudent.studentName}}</td>
        <td>{{unaprrovedStudent.studentGender}}</td>
        <td>{{unaprrovedStudent.studentDateOfBirth}}</td>
        <td><a class="btn btn-primary btn-lg active" role="button" aria-pressed="true" (click)="viewStudentDetails(unaprrovedStudent)">View</a></td>
      </tr>
      <!-- {{unaprrovedStudents | json}} -->
    </tbody>
  </table>