<h3 style="color: #1287A5; text-align: center;">Unapproved Students</h3>
<div class="table-wrapper">
  <table class="fl-table">
  <thead>
    <tr>
      <th scope="col">Student Aadhar Number</th>
      <th scope="col">Student Name</th>
      <th scope="col">Student Gender</th>
      <th scope="col">Student Date of Birth</th>
      <th scope="col">Action</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let unaprrovedStudent of unaprrovedStudents">
      <th scope="row">{{unaprrovedStudent.studentAadharNumber}}</th>
      <td>{{unaprrovedStudent.studentName}}</td>
      <td>{{unaprrovedStudent.studentGender}}</td>
      <td>{{unaprrovedStudent.studentDateOfBirth}}</td>
      <td><a class="btn btn-primary btn-lg active" role="button" aria-pressed="true"
          (click)="viewStudentDetails(unaprrovedStudent)">View</a></td>
    </tr>
  </tbody>
</table>
</div>
<!-- {{unaprrovedStudents | json}} -->

<h3 style="color: darkgreen; text-align: center;">Approved Students</h3>

<div class="table-wrapper">
  <table class="fl-table">
  <thead>
    <tr>
      <th scope="col">Student Aadhar Number</th>
      <th scope="col">Student Name</th>
      <th scope="col">Student Gender</th>
      <th scope="col">Student Date of Birth</th>
      <th scope="col">Action</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let student of approvedStudents">
      <th scope="row">{{student.studentAadharNumber}}</th>
      <td>{{student.studentName}}</td>
      <td>{{student.studentGender}}</td>
      <td>{{student.studentDateOfBirth}}</td>
      <td><a class="btn btn-primary btn-lg active" role="button" aria-pressed="true"
          (click)="viewStudentDetails(student)">Change Status</a></td>
    </tr>
  </tbody>
</table>
</div>

<h3 style="color: red; text-align: center;">Rejected Students</h3>

<div class="table-wrapper">
  <table class="fl-table">
  <thead>
    <tr>
      <th scope="col">Student Aadhar Number</th>
      <th scope="col">Student Name</th>
      <th scope="col">Student Gender</th>
      <th scope="col">Student Date of Birth</th>
      <th scope="col">Action</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let rejectedStudent of rejectedStudents">
      <th scope="row">{{rejectedStudent.studentAadharNumber}}</th>
      <td>{{rejectedStudent.studentName}}</td>
      <td>{{rejectedStudent.studentGender}}</td>
      <td>{{rejectedStudent.studentDateOfBirth}}</td>
      <td><a class="btn btn-primary btn-lg active" role="button" aria-pressed="true"
          (click)="viewStudentDetails(rejectedStudent)">Change Status</a></td>
    </tr>
  </tbody>
</table>
</div>