comment this section
<hr>
{{scholarshipForm.value |json}}
<hr>
{{scholarshipFormModel |json}}
<hr>
<div class="container-fluid mb-5" >
  <h3 style="text-align: center;">New Scholarship Form Registration</h3>
  <form #scholarshipForm="ngForm">

    <fieldset>
      <legend>Scheme Details</legend>
      <div class="form-row">
        <div class="col-md-6 mb-3">
          <label for="schemeId">schemeId</label>
          <input type="number" required name="schemeId" class="form-control" value="{{schemeUid}}" disabled>

        </div>
  
      </div>
    </fieldset>
    <fieldset>
      <legend>Basic Details</legend>
      <div class="form-row">
        <div class="col-md-6 mb-3">
          <label for="aadharNumber">Aadhar Number</label>
          <input type="number" required name="aadhar" #aadhar="ngModel" pattern="\d{12}$"
            [class.is-invalid]="aadhar.invalid && aadhar.touched" class="form-control" placeholder="Enter Aadhar Number"
            [(ngModel)]="scholarshipFormModel.aadharNumber" disabled>
          <div *ngIf="aadhar.errors && (aadhar.valid || aadhar.touched)">
            <small class="text-danger" *ngIf="aadhar.errors.required">Aadhar Number is required</small>
            <small class="text-danger" *ngIf="aadhar.errors.pattern">Please enter a valid Aadhar Number</small>

          </div>
        </div>

        <div class="col-md-6 mb-3">
          <label for="religion">Religion</label>
          <select required #religion="ngModel" [class.is-invalid]="religion.invalid && religion.touched"
            (blur)="validateReligionStatus(religion.value)" (change)="validateReligionStatus(religion.value)"
            class="custom-select" name="religion" [(ngModel)]="scholarshipFormModel.religion">
            <option selected value="">Select Religion</option>
            <option *ngFor="let religion_category of religionCategory">{{religion_category}}</option>
          </select>
          <small class="text-danger" [class.d-none]="religion.valid || religion.untouched">Please select a Religion
          </small>
        </div>

        <div class="col-md-6 mb-3">
          <label for="category">Community/Category</label>
          <input type="text" required #category="ngModel" [class.is-invalid]="category.invalid && category.touched" name="category" class="form-control" placeholder="Enter Category"
            [(ngModel)]="scholarshipFormModel.category">
            <small class="text-danger" [class.d-none]="category.valid || category.untouched">Community is required</small>
        </div>

        <div class="col-md-6 mb-3">
          <label for="fatherName">Father's Name</label>
          <input type="text" required #fatherName="ngModel" [class.is-invalid]="fatherName.invalid && fatherName.touched"  name="fatherName" class="form-control" placeholder="Enter Father's Name"
            [(ngModel)]="scholarshipFormModel.fatherName">
            <small class="text-danger" [class.d-none]="fatherName.valid || fatherName.untouched">Father's Name is required</small>
        </div>

        <div class="col-md-6 mb-3">
          <label for="motherName">Mother's Name</label>
          <input type="text" required #motherName="ngModel" [class.is-invalid]="motherName.invalid && motherName.touched" name="motherName" id="" class="form-control" placeholder="Enter Mother's Name"
            [(ngModel)]="scholarshipFormModel.motherName">
            <small class="text-danger" [class.d-none]="motherName.valid || motherName.untouched">Mother's Name is required</small>
        </div>

        <div class="col-md-6 mb-3">
          <label for="familyAnnualIncome">Family Annual Income</label>
          <input type="text" required #familyAnnualIncome="ngModel" [class.is-invalid]="familyAnnualIncome.invalid && familyAnnualIncome.touched" name="familyAnnualIncome" class="form-control" placeholder="Enter Annual Income"
            [(ngModel)]="scholarshipFormModel.familyAnnualIncome">
            <small class="text-danger" [class.d-none]="familyAnnualIncome.valid || familyAnnualIncome.untouched">Family Income is required</small>
        </div>

      </div>
    </fieldset>

    <fieldset>
      <legend>Academic Details</legend>

      <div class="form-row">

        <div class="col-md-6 mb-3">
          <label for="class10RollNumber">10th Roll No</label>
          <input type="text" required #class10RollNumber="ngModel" [class.is-invalid]="class10RollNumber.invalid && class10RollNumber.touched" name="class10RollNumber" class="form-control" placeholder="Enter 10th Roll No"
            [(ngModel)]="scholarshipFormModel.class10RollNumber">
            <small class="text-danger" [class.d-none]="class10RollNumber.valid || class10RollNumber.untouched">10th Roll Number is required</small>
        </div>

        <div class="col-md-6 mb-3">
          <label for="class10BoardName">Board</label>
          <input type="text" required #class10BoardName="ngModel" [class.is-invalid]="class10BoardName.invalid && class10BoardName.touched" name="class10BoardName" class="form-control" placeholder="Enter Board"
            [(ngModel)]="scholarshipFormModel.class10BoardName">
            <small class="text-danger" [class.d-none]="class10BoardName.valid || class10BoardName.untouched">10th Board is required</small>
        </div>

        <div class="col-md-6 mb-3">
          <label for="class10PassingYear">Passing Date</label>
          <input type="date" required max="{{ maxDate | date:'yyyy-MM-dd'}}" min="{{ minDate | date:'yyyy-MM-dd'}}" #class10PassingYear="ngModel" [class.is-invalid]="class10PassingYear.invalid && class10PassingYear.touched" name="class10PassingYear" id="" class="form-control" placeholder="Enter the Passing Year"
            [(ngModel)]="scholarshipFormModel.class10PassingYear">
            <small class="text-danger" [class.d-none]="class10PassingYear.valid || class10PassingYear.untouched">Passing Date is required</small>
        </div>

        <div class="col-md-6 mb-3">
          <label for="class10Percentage">% Obtained</label>
          <input type="text" required #class10Percentage="ngModel" [class.is-invalid]="class10Percentage.invalid && class10Percentage.touched" name="class10Percentage" id="" class="form-control" placeholder="Enter % marks obatined"
            [(ngModel)]="scholarshipFormModel.class10Percentage">
            <small class="text-danger" [class.d-none]="class10Percentage.valid || class10Percentage.untouched">10th Marks is required</small>
        </div>


        <div class="col-md-6 mb-3">
          <label for="class12RollNumber">12th Roll No</label>
          <input type="text" required #class12RollNumber="ngModel" [class.is-invalid]="class12RollNumber.invalid && class12RollNumber.touched" name="class12RollNumber" id="" class="form-control" placeholder="Enter 12th Roll No"
            [(ngModel)]="scholarshipFormModel.class12RollNumber">
            <small class="text-danger" [class.d-none]="class12RollNumber.valid || class12RollNumber.untouched">12th Roll Number is required</small>
        </div>

        <div class="col-md-6 mb-3">
          <label for="class12BoardName">Board</label>
          <input type="text" required #class12BoardName="ngModel" [class.is-invalid]="class12BoardName.invalid && class12BoardName.touched" name="class12BoardName" id="" class="form-control" placeholder="Enter Board"
            [(ngModel)]="scholarshipFormModel.class12BoardName">
            <small class="text-danger" [class.d-none]="class12BoardName.valid || class12BoardName.untouched">12th Board is required</small>
        </div>

        <div class="col-md-6 mb-3">
          <label for="class12PassingYear">Passing Date</label>
          <input type="date"required max="{{ maxDate | date:'yyyy-MM-dd'}}" min="{{ minDate | date:'yyyy-MM-dd'}}" #class12PassingYear="ngModel" [class.is-invalid]="class12PassingYear.invalid && class12PassingYear.touched" name="class12PassingYear" id="" class="form-control" placeholder="Enter the Passing Year"
            [(ngModel)]="scholarshipFormModel.class12PassingYear">
            <small class="text-danger" [class.d-none]="class12PassingYear.valid || class12PassingYear.untouched">Passing Date is required</small>
        </div>

        <div class="col-md-6 mb-3">
          <label for="class12Percentage">% Obtained</label>
          <input type="text" required #class12Percentage="ngModel" [class.is-invalid]="class12Percentage.invalid && class12Percentage.touched" name="class12Percentage" id="" class="form-control" placeholder="Enter % marks obatined"
            [(ngModel)]="scholarshipFormModel.class12Percentage">
            <small class="text-danger" [class.d-none]="class12Percentage.valid || class12Percentage.untouched">12th Marks is required</small>
        </div>
      </div>
    </fieldset>

    <fieldset>
      <legend>Fee Details</legend>
      <div class="form-row">

        <div class="col-md-6 mb-3">
          <label for="admissionFee">Admission Fee</label>
          <input type="text" required #admissionFee="ngModel" [class.is-invalid]="admissionFee.invalid && admissionFee.touched" name="admissionFee" id="" class="form-control" placeholder="Enter Admission Fee"
            [(ngModel)]="scholarshipFormModel.admissionFee">
            <small class="text-danger" [class.d-none]="admissionFee.valid || admissionFee.untouched">Please enter admission fee</small>
        </div>

        <div class="col-md-6 mb-3">
          <label for="tuitionFee">Tuition Fee</label>
          <input type="text" required #tuitionFee="ngModel" [class.is-invalid]="tuitionFee.invalid && tuitionFee.touched" name="tuitionFee" id="" class="form-control" placeholder="Enter Tuition Fee"
            [(ngModel)]="scholarshipFormModel.tuitionFee">
            <small class="text-danger" [class.d-none]="tuitionFee.valid || tuitionFee.untouched">Please enter tuition fee</small>
        </div>

        <div class="col-md-6 mb-3">
          <label for="otherFee">Other Fee</label>
          <input type="text" name="otherFee" id="" class="form-control" placeholder="Enter Other Fee"
            [(ngModel)]="scholarshipFormModel.otherFee">
        </div>

        <div class="col-md-6 mb-3">
          <label for="instID">Institute ID</label>
          <input type="number" required #instID="ngModel" [class.is-invalid]="instID.invalid && instID.touched" (blur)="valueSet(instID.value)" (change)="valueSet(instID.value)" name="instID" id="" class="form-control" placeholder="Enter Institute Id"
            [(ngModel)]="scholarshipFormModel.instituteId" disabled>
            <small class="text-danger" [class.d-none]="instID.valid || instID.untouched">Institute Id is required</small> 
        </div>
      </div>
    </fieldset>

    <fieldset>

      <legend>Other Personal Details</legend>

      <div class="form-row">

        <div class="col-md-6 mb-3">
          <label for="isDisabled">Disability</label>
          <select required #isDisabled="ngModel" [class.is-invalid]="isDisabled.invalid && isDisabled.touched"
            (blur)="validateDisabilityStatus(isDisabled.value)" (change)="validateDisabilityStatus(isDisabled.value)"
            class="custom-select" name="isDisabled" [(ngModel)]="scholarshipFormModel.isDisabled">
            <option selected value="">Select Disability Criteria</option>
            <option *ngFor="let disability_category of disabilityCategory">{{disability_category}}</option>
          
          </select>
          <small class="text-danger" [class.d-none]="isDisabled.valid || isDisabled.untouched">Please select Disability Criteria
          </small>
        </div>

        <div class="col-md-6 mb-3">
          <label for="typeOfDisability">Type of Disability</label>
          <input type="text" required #typeOfDisability="ngModel" [class.is-invalid]="typeOfDisability.invalid && typeOfDisability.touched" name="typeOfDisability" class="form-control" placeholder="Type Of Disability"
            [(ngModel)]="scholarshipFormModel.typeOfDisability">
            <small class="text-danger" [class.d-none]="typeOfDisability.valid || typeOfDisability.untouched">Type of Disability is required</small>

        </div>

        <div class="col-md-6 mb-3">
          <label for="percentOfDisability">% of Disability</label>
          <input type="text" required #percentOfDisability="ngModel" [class.is-invalid]="percentOfDisability.invalid && percentOfDisability.touched"name="percentOfDisability" class="form-control" placeholder="% of Disability"
            [(ngModel)]="scholarshipFormModel.percentOfDisability">
            <small class="text-danger" [class.d-none]="percentOfDisability.valid || percentOfDisability.untouched">Percentage of Disability is required</small>
        </div>

        <div class="col-md-6 mb-3">
          <label for="maritalStatus">Marital Status</label>
          <select required #maritalStatus="ngModel" [class.is-invalid]="maritalStatus.invalid && maritalStatus.touched"
            (blur)="validateMaritalStatus(maritalStatus.value)" (change)="validateMaritalStatus(maritalStatus.value)"
            class="custom-select" name="maritalStatus" [(ngModel)]="scholarshipFormModel.maritalStatus">
            <option selected value="">Select Marital Status</option>
            <option *ngFor="let marital_status of maritalStatusCategory">{{marital_status}}</option>
          </select>
          <small class="text-danger" [class.d-none]="maritalStatus.valid || maritalStatus.untouched">Please select Marital Status
          </small>
        </div>

        <div class="col-md-6 mb-3">
          <label for="parentProfession">Parents Profession</label>
          <input type="text" required #parentProfession="ngModel" [class.is-invalid]="parentProfession.invalid && parentProfession.touched" name="parentProfession" class="form-control" placeholder="Enter Father's Profession"
            [(ngModel)]="scholarshipFormModel.parentProfession">
            <small class="text-danger" [class.d-none]="parentProfession.valid || parentProfession.untouched">Parent's profession is required</small>
        </div>

        <!-- <div class="col-md-6 mb-3">
          <label for="motherProfession">Mother Profession</label>
          <input type="text" required #motherProfession="ngModel" [class.is-invalid]="motherProfession.invalid && motherProfession.touched" name="motherProfession" id="" class="form-control" placeholder="Enter Mother's Profession"
            [(ngModel)]="scholarshipFormModel.motherProfession">
            <small class="text-danger" [class.d-none]="motherProfession.valid || motherProfession.untouched">Mother's profession is required</small>
        </div> -->
      </div>
    </fieldset>

    <!-- <fieldset>
      <legend>Contact Details</legend>
      <div class="form-row">

        <div class="col-md-6 mb-3">
          <label for="state">State</label>
          <input type="text" name="state" id="" class="form-control" placeholder="Enter State"
            [(ngModel)]="scholarshipFormModel.state">
        </div>

        <div class="col-md-6 mb-3">
          <label for="district">District</label>
          <input type="text" name="district" id="" class="form-control" placeholder="Enter District"
            [(ngModel)]="scholarshipFormModel.district">
        </div>

        <div class="col-md-6 mb-3">
          <label for="block">Block/Taluk</label>
          <input type="text" name="block" id="" class="form-control" placeholder="Enter Block"
            [(ngModel)]="scholarshipFormModel.block">
        </div>

        <div class="col-md-6 mb-3">
          <label for="houseNo">House Number</label>
          <input type="text" name="houseNo" id="" class="form-control" placeholder="Enter House Number"
            [(ngModel)]="scholarshipFormModel.houseNo">
        </div>

        <div class="col-md-6 mb-3">
          <label for="streetNo">Street Number</label>
          <input type="text" name="streetNo" id="" class="form-control" placeholder="Enter Street Number"
            [(ngModel)]="scholarshipFormModel.streetNo">
        </div>

        <div class="col-md-6 mb-3">
          <label for="pincode">PinCode</label>
          <input type="text" required #pincode="ngModel" pattern="\d{6}$" [class.is-invalid]="pincode.invalid && pincode.touched" name="pincode" class="form-control" placeholder="Enter Pincode"
            [(ngModel)]="scholarshipFormModel.pincode">
            <div *ngIf="pincode.errors && (pincode.valid || pincode.touched)">
              <small class="text-danger" *ngIf="pincode.errors.required">PinCode is required</small>
              <small class="text-danger" *ngIf="pincode.errors.pattern">Please enter a valid Pincode</small>
  
            </div>

        </div>

        <div class="col-md-6 mb-3">
          <label for="chooseScheme">Choose Scheme applying for:</label>
          <input type="text" name="chooseScheme" id="" class="form-control" placeholder="Choose The Scheme"
            [(ngModel)]="scholarshipFormModel.chooseScheme">
        </div>
      </div>
    </fieldset> -->

   <!---<fieldset>
      <legend>Document Upload</legend>

      <div class="form-row">
        <div class="col-md-6 mb-3">
          <label for="domicileCertificate">Domicile Certificate</label>
          <input type="file" name="domicileCertificate" id="" class="form-control-file"
            placeholder="Domicile Certificate" [(ngModel)]="scholarshipFormModel.domicileCertificate">
        </div>

        <div class="col-md-6 mb-3">
          <label for="studentPhotograph">Student Photograph</label>
          <input type="file" name="studentPhotograph" id="" class="form-control-file" placeholder="Student Photograph"
            [(ngModel)]="scholarshipFormModel.studentPhotograph">
        </div>

        <div class="col-md-6 mb-3">
          <label for="instituteIdCard">Institute Id Card</label>
          <input type="file" name="instituteIdCard" id="" class="form-control-file" placeholder="Institute Id Card"
            [(ngModel)]="scholarshipFormModel.instituteIdCard">
        </div>

        <div class="col-md-6 mb-3">
          <label for="casteIncomeCertificate">Caste/Income Certificate</label>
          <input type="file" name="casteIncomeCertificate" id="" class="form-control-file"
            placeholder="Caste/Income Certificate" [(ngModel)]="scholarshipFormModel.casteIncomeCertificate">
        </div>

        <div class="col-md-6 mb-3">
          <label for="previousYearMarksheet">Previous Year Marksheet</label>
          <input type="file" name="previousYearMarksheet" id="" class="form-control-file"
            placeholder="Previous Year Marksheet" [(ngModel)]="scholarshipFormModel.previousYearMarksheet">
        </div>

        <div class="col-md-6 mb-3">
          <label for="feeReceiptOfCurrentYear">Fee Receipt Of Current Year</label>
          <input type="file" name="feeReceiptOfCurrentYear" id="" class="form-control-file"
            placeholder="Fee Receipt Of Current Year" [(ngModel)]="scholarshipFormModel.feeReceiptOfCurrentYear">
        </div>

        <div class="col-md-6 mb-3">
          <label for="bankPassbookFrontPage">Bank Passbook Front Page</label>
          <input type="file" name="bankPassbookFrontPage" id="" class="form-control-file"
            placeholder="Bank Passbook Front Page" [(ngModel)]="scholarshipFormModel.bankPassbookFrontPage">
        </div>

        <div class="col-md-6 mb-3">
          <label for="aadharCard">Aadhar Card</label>
          <input type="file" name="aadharCard" id="" class="form-control-file" placeholder="Aadhar Card"
            [(ngModel)]="scholarshipFormModel.aadharCard">
        </div>

        <div class="col-md-6 mb-3">
          <label for="marksheet10">10th Marksheet</label>
          <input type="file" name="marksheet10" id="" class="form-control-file" placeholder="10th Marksheet"
            [(ngModel)]="scholarshipFormModel.marksheet10">
        </div>

        <div class="col-md-6 mb-3">
          <label for="marksheet12">12th Marksheet</label>
          <input type="file" name="marksheet12" id="" class="form-control-file" placeholder="12th Marksheet"
            [(ngModel)]="scholarshipFormModel.marksheet12">
        </div>
      </div>
    </fieldset>--->


    <div class="mx-auto text-center">
      <button type="submit" (click)="onSubmitClick()" class="btn btn-primary" style="margin-left: 5%; margin-right: 5%;">Next</button>
      <button type="reset" class="btn btn-primary" style="margin-left: 5%; margin-right: 5%;">Reset</button>
    </div>
  </form>
</div>