
<div class="main">
    <div class="panel panel-info">
        <div class="panel-heading">
            <h3 class="panel-title">
                {{formModel.aadharNumber}}
            </h3>
        </div>
        <div class="panel-body">
            <div class="row">
                <div class=" col-md-9 col-lg-9 ">
                    <table class="table table-user-information">
                        <tbody>
                            <tr>
                                <th>Form Id:</th>
                                <td> {{formModel.formId}} </td>
                            </tr>
                            <tr>
                                <th>Student aadhar Number:</th>
                                <td> {{formModel.aadharNumber}} </td>
                            </tr>
                            <tr>
                                <th>Religion:</th>
                                <td> {{formModel.religion}} </td>
                            </tr>
                            <tr>
                                <th>Category:</th>
                                <td> {{formModel.category}} </td>
                            </tr>
                            <tr>
                                <th>Father's Name:</th>
                                <td> {{formModel.fatherName}} </td>
                            </tr>
                            <tr>
                                <th>Mother's Name:</th>
                                <td> {{formModel.motherName}} </td>
                            </tr>
                            <tr>
                                <th>Family Annual Income:</th>
                                <td> {{formModel.familyAnnualIncome}} </td>
                            </tr>
                            <tr>
                                <th>Scheme Id:</th>
                                <td> {{formModel.schemeUid}} </td>
                            </tr>
                            <tr>
                                <th>Roll No. of Class 10th:</th>
                                <td> {{formModel.class10RollNumber}} </td>
                            </tr>
                            <tr>
                                <th>Board Name of Class 10th:</th>
                                <td> {{formModel.class10BoardName}} </td>
                            </tr>
                            <tr>
                                <th>Passing Year of Class 10th:</th>
                                <td> {{formModel.class10PassingYear}} </td>
                            </tr>
                            <tr>
                                <th>Percentage of Class 10th:</th>
                                <td> {{formModel.class10Percentage}} </td>
                            </tr>
                            <tr>
                                <th>Roll No. of Class 12th:</th>
                                <td> {{formModel.class12RollNumber}} </td>
                            </tr>
                            <tr>
                                <th>Board Name of Class 12th:</th>
                                <td> {{formModel.class12BoardName}} </td>
                            </tr>
                            <tr>
                                <th>Passing Year of Class 12th:</th>
                                <td> {{formModel.class12PassingYear}} </td>
                            </tr>
                            <tr>
                                <th>Percentage of Class 12th:</th>
                                <td> {{formModel.class12Percentage}} </td>
                            </tr>
                            <tr>
                                <th>Admission Fees:</th>
                                <td> {{formModel.admissionFee}} </td>
                            </tr>
                            <tr>
                                <th>Other Fees:</th>
                                <td> {{formModel.otherFee}} </td>
                            </tr>
                            <tr>
                                <th>Are you Disabled:</th>
                                <td> {{formModel.isDisabled}} </td>
                            </tr>
                            <tr>
                                <th>Marital Status:</th>
                                <td> {{formModel.maritalStatus}} </td>
                            </tr>
                            <tr>
                                <th>Parent's Profession:</th>
                                <td> {{formModel.parentProfession}} </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
    <div class="mx-auto text-center">
        <button (click)="approveForm()" type="button" class="btn btn-success" style="margin-left: 5%; margin-right: 5%;">Approve</button>
        <button (click)="rejectForm()" type="button" class="btn btn-danger" style="margin-left: 5%; margin-right: 5%;">Reject</button>
    </div>
</div>