<div class="container-fluid mb-5">
    <h3 style="text-align: center;">Nodal Officer Registration</h3>
    
    <form #nodalForm="ngForm" action="">
        <fieldset class="">
          <legend>Basic Details</legend>
          <div class="form-group">
            <label for="nodalUid">Nodal Uid</label>
            <input type="text" name="nodalUid" id="" class="form-control" placeholder="Enter Nodal Uid"
              [(ngModel)]="NodalModel.nodalUid">
          </div>

          <div class="form-group">
            <label for="nodalName">Nodal Name</label>
            <input type="text" name="nodalName" id="" class="form-control" placeholder="Enter Nodal Name"
              [(ngModel)]="NodalModel.nodalName">
          </div>

          <div class="col-md-6 mb-3">
            <label for="nodalState">State</label>
            <select class="custom-select" name="nodalState" id="" [(ngModel)]="NodalModel.nodalState">
              <option selected>Select Nodal State</option>
              <option *ngFor="let nodalState of nodalStates">{{nodalState}}</option>
            </select>
          </div>
        
          </fieldset>

          <fieldset class="">
            <legend>Contact Details</legend>
            <div class="col-md-6 mb-3">
              <label for="nodalPhone">Nodal Officer Phone no</label>
              <input type="text" name="nodalPhone" id="" class="form-control" placeholder="Enter Nodal Phone no"
                [(ngModel)]="NodalModel.nodalPhone">
            </div>
  
            <div class="col-md-6 mb-3">
              <label for="nodalEmail">Nodal Officer Email </label>
              <input type="text" name="nodalEmail" id="" class="form-control" placeholder="Enter Nodal Email"
                [(ngModel)]="NodalModel.nodalEmail">
            </div>
            </fieldset>

            <div class="mx-auto text-center" >
              <button type="submit" class="btn btn-primary" style="margin-left: 5%; margin-right: 5%;">Submit</button>
              <button type="reset" class="btn btn-primary" style="margin-left: 5%; margin-right: 5%;">Reset</button>
            </div>
        



