<!-- comment this part
<hr>
{{forgetPwdForm.value | json}}
<hr>
{{forgotPasswordModel | json}}
<hr> -->
<div class="main">
	<div class="container">
		<div class="d-flex justify-content-center h-100">
			<div class="card">
				<div class="card-header">
					<h3 style="text-align: center;"><i class="fas fa-unlock-alt"></i> Password Recovery</h3>
				</div>
				<div class="card-body">
					<form #forgetPwdForm="ngForm">
						<div class="input-group form-group">
							<div class="input-group-prepend">
								<span class="input-group-text"><i class="fas fa-users"></i></span>
							</div>
							<select class="custom-select" #userType="ngModel" name="userType"
								[(ngModel)]="forgotPasswordModel.forgotPasswordUType">
								<option value="">Select User Category</option>
								<option *ngFor="let forgotPasswordModule of forgotPasswordModules">
									{{forgotPasswordModule}}</option>
							</select>

						</div>
						<div class="input-group form-group">
							<div class="input-group-prepend">
								<span class="input-group-text"><i class="fas fa-id-card"></i></span>
							</div>
							<input name="userID" #userId="ngModel" type="text" class="form-control"
								placeholder="Enter User ID" [(ngModel)]="forgotPasswordModel.forgotPasswordUID">

						</div>

						<div class="input-group form-group">
							<div class="input-group-prepend">
								<span class="input-group-text"><i class="fas fa-at"></i></span>
							</div>
							<input name="useremail" #email="ngModel" type="text" class="form-control"
								placeholder="Enter User Email" [(ngModel)]="forgotPasswordModel.forgotPasswordUEmail">
						</div>



						<div class="mx-auto text-center" style="margin-top: 40px;">
							<button type="submit" (click)="recoverPassword(userType.value, userId.value, email.value)"
								class="btn btn-primary" style="margin-left: 5%; margin-right: 5%;">Submit</button>
							<button type="reset" class="btn btn-primary"
								style="margin-left: 5%; margin-right: 5%;">Reset</button>
						</div>
					</form>
				</div>
			</div>
		</div>
	</div>
</div>