<div class="container-fluid mb-5">
    <h3 style="text-align: center;">Forgot Password</h3>
    
    <form #nodalForm="ngForm" action="">
        <fieldset class="">
          <legend></legend>

          <div class="form-row">
            <div class="col-md-6 mb-3">
              <label for="forgotPasswordModule">Module</label>
              <select class="custom-select" name="forgotPasswordModule" id="" [(ngModel)]="forgotPasswordModel.forgotPasswordModule">
                <option selected>Select the identity</option>
                <option *ngFor="let forgotPasswordModule of forgotPasswordModules">{{forgotPasswordModules}}</option>
              </select>
            </div>
        

          <div class="form-group">
            <label for="forgotPasswordUniqueIdentityNumber">Unique Identity Number</label>
            <input type="text" name="forgotPasswordUniqueIdentityNumber" id="" class="form-control" placeholder="Enter Unique Identity Number"
              [(ngModel)]="forgotPasswordModel.forgotPasswordUniqueIdentityNumber">
          </div>

          
           
            <button type="submit" class="btn btn-primary" style="margin-left: 5%; margin-right: 5%;">Submit</button>
            <button type="reset" class="btn btn-primary" style="margin-left: 5%; margin-right: 5%;">Reset</button>
          </div>