<div class="jumbotron">
  <div class="container">
    <div class="row">
      <div class="col-6">
        <h5>Forms to apply</h5>

        <div>
          <ul class="items" *ngFor="let scheme of schemes" (click)="onSelect(scheme)">
            <li>{{scheme.schemeId}} -- {{scheme.name}}</li>
          </ul>
        </div>

        <div class="card bg-light mb-3" style="max-width: 18rem;">
          <div class="card-header">Guidelines</div>
          <div class="card-body">
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's
              content.</p>
          </div>
        </div>
      </div>

      <div class="col" >
        <div *ngIf="scheme" >
          {{scheme.details}}<br>
          <div class="mx-auto text-center" >
            <button type="button" style=" margin-top: 5%;" (click)="onApply(scheme.schemeId)" class="btn btn-outline-primary" [disabled]="formExits || !genderNotMatch">Apply Form</button>
        </div>
          </div>
      </div>
    </div>
  </div>
</div>
 {{studentModel | json}} 