<h3 style="color: #1287A5; text-align: center;">Unapproved Forms</h3>
<div class="table-wrapper">
  <table class="fl-table">
  <thead>
    <tr>
      <th scope="col">Form_ID</th>
      <th scope="col">Student Aadhar Number</th>
      <th scope="col">Form religion</th>
      <th scope="col">Form category</th>
      <th scope="col">Action</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let unapprovedForm of unapprovedForms">
      <th scope="row">{{unapprovedForm.formId}}</th>
      <td>{{unapprovedForm.aadharNumber}}</td>
      <td>{{unapprovedForm.religion}}</td>
      <td>{{unapprovedForm.category}}</td>
      <td><a class="btn btn-primary btn-lg active" role="button" aria-pressed="true"
          (click)="viewFormDetails(unapprovedForm)">View</a></td>
    </tr>
  </tbody>
</table>
</div>
<!-- {{unapprovedForm | json}} -->

<h3 style="text-align: center; color: darkgreen;">Approved Forms</h3>

<div class="table-wrapper">
  <table class="fl-table">
  <thead>
    <tr>
      <th scope="col">Form_ID</th>
      <th scope="col">Student Aadhar Number</th>
      <th scope="col">Form religion</th>
      <th scope="col">Form category</th>
      <th scope="col">Action</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let approvedForm of approvedForms">
      <th scope="row">{{approvedForm.formId}}</th>
      <td>{{approvedForm.aadharNumber}}</td>
      <td>{{approvedForm.religion}}</td>
      <td>{{approvedForm.category}}</td>
      <td><a class="btn btn-primary btn-lg active" role="button" aria-pressed="true"
          (click)="viewFormDetails(approvedForm)">View</a></td>
    </tr>
  </tbody>
</table>
</div>
<!-- {{unapprovedForm | json}} -->

<h3 style="text-align: center; color: red;">Rejected Forms</h3>

<div class="table-wrapper">
  <table class="fl-table">
  <thead>
    <tr>
      <th scope="col">Form_ID</th>
      <th scope="col">Student Aadhar Number</th>
      <th scope="col">Form religion</th>
      <th scope="col">Form category</th>
      <th scope="col">Action</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let rejectedForm of rejectedForms">
      <th scope="row">{{rejectedForm.formId}}</th>
      <td>{{rejectedForm.aadharNumber}}</td>
      <td>{{rejectedForm.religion}}</td>
      <td>{{rejectedForm.category}}</td>
      <td><a class="btn btn-primary btn-lg active" role="button" aria-pressed="true"
          (click)="viewFormDetails(rejectedForm)">View</a></td>
    </tr>
  </tbody>
</table>
</div>
<!-- {{unapprovedForm | json}} -->