<h2>Unapproved Forms</h2>
<table class="table table-hover">
  <thead>
    <tr>
      <th scope="col">Form_ID</th>
      <th scope="col">Student Aadhar Number</th>
      <th scope="col">Form religion</th>
      <th scope="col">Form category</th>
      <th scope="col">Action</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let unapprovedForm of unapprovedForms">
      <th scope="row">{{unapprovedForm.formId}}</th>
      <td>{{unapprovedForm.aadharNumber}}</td>
      <td>{{unapprovedForm.religion}}</td>
      <td>{{unapprovedForm.category}}</td>
      <td><a class="btn btn-primary btn-lg active" role="button" aria-pressed="true"
          (click)="viewFormDetails(unapprovedForm)">View</a></td>
    </tr>
  </tbody>
</table>
<!-- {{unapprovedForm | json}} -->

<h2>Approved Forms</h2>

<table class="table table-hover">
  <thead>
    <tr>
      <th scope="col">Form_ID</th>
      <th scope="col">Student Aadhar Number</th>
      <th scope="col">Form religion</th>
      <th scope="col">Form category</th>
      <th scope="col">Action</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let approvedForm of approvedForms">
      <th scope="row">{{approvedForm.formId}}</th>
      <td>{{approvedForm.aadharNumber}}</td>
      <td>{{approvedForm.religion}}</td>
      <td>{{approvedForm.category}}</td>
      <td><a class="btn btn-primary btn-lg active" role="button" aria-pressed="true"
          (click)="viewFormDetails(approvedForm)">View</a></td>
    </tr>
  </tbody>
</table>
<!-- {{unapprovedForm | json}} -->

<h2>Rejected Forms</h2>

<table class="table table-hover">
  <thead>
    <tr>
      <th scope="col">Form_ID</th>
      <th scope="col">Student Aadhar Number</th>
      <th scope="col">Form religion</th>
      <th scope="col">Form category</th>
      <th scope="col">Action</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let rejectedForm of rejectedForms">
      <th scope="row">{{rejectedForm.formId}}</th>
      <td>{{rejectedForm.aadharNumber}}</td>
      <td>{{rejectedForm.religion}}</td>
      <td>{{rejectedForm.category}}</td>
      <td><a class="btn btn-primary btn-lg active" role="button" aria-pressed="true"
          (click)="viewFormDetails(rejectedForm)">View</a></td>
    </tr>
  </tbody>
</table>
<!-- {{unapprovedForm | json}} -->